<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/5.3.7/pixi.min.js"></script>
</head>

<body>
    <div id="eve-container"></div>
    <!-- <script src="/scripts/index.js"></script> -->
    <script>
        setTimeout(() => {
            const js = document.createElement('script');
            js.src = '/scripts/index.js';
            document.body.appendChild(js);
        }, 1000);
    </script>
</body>

</html>